<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lord of the Rings</title>
    <link rel="stylesheet" href="../media/style/main.css">
    <link rel="stylesheet" href="../media/style/index.css">
</head>
<body>
    <header>
        <div>
            <h1>
                <a href="index.html">
                    <img src="../media/images/logo.png" class="logo">
                    <span>Lord of the Rings</span>
                </a>
            </h1>
        </div>
    </header>
    <main>
        <div class="poster">
            <img src="../media/images/posters/index.jpg">
            <h1 class="poster-title">Welcome!</h1>
        </div>
        <div class="container">
            <h1>Books</h1>
            <div class="books"></div>
        </div>
        <div class="container">
            <h1>Movies</h1>
            <div class="movies"></div>
        </div>
        <div class="container">
            <h1>Characters</h1>
            <table class="characters">
                <tr>
                    <th>Name</th>
                    <th>Race</th>
                    <th>Gender</th>
                    <th>Age</th>
                </tr>
            </table>
        </div>
    </main>
    <footer></footer>
</body>
</html>
<script src="../media/js/index.js"></script>